*.State
*.exe
Bizhawk Emulator - Copy/Gameboy/
*.csv
*.pool
Bizhawk Emulator - Copy/Lua/SNES/PastRuns/Run01/AIData/csvAnalyzer.exe.config
Bizhawk Emulator - Copy/Lua/SNES/PastRuns/Run01/AIData/csvAnalyzer.vshost.exe.config
Bizhawk Emulator - Copy/Lua/SNES/PastRuns/Run01/AIData/csvAnalyzer.vshost.exe.manifest
Bizhawk Emulator - Copy/Lua/SNES/PastRuns/Run4/csvAnalyzer.exe.config
Bizhawk Emulator - Copy/Lua/UnitTests/
Bizhawk Emulator - Copy/NES/
Bizhawk Emulator - Copy/Roms/Super Mario World (U) [!].smc
Bizhawk Emulator - Copy/shaders/
*.SaveRAM
*.ini
*.json
*.zip
Bizhawk Emulator - Copy/dll/ffmpeg_readme.txt
Bizhawk Emulator - Copy/evolveScriptBackup/neatevolve._jun_22_2015.lua
Bizhawk Emulator - Copy/evolveScriptBackup/neatevolve_bugged_jun_29_2015.lua
Bizhawk Emulator - Copy/evolveScriptBackup/neatevolve_july_2nd_2015.lua
Bizhawk Emulator - Copy/evolveScriptBackup/neatevolve_jun_19_2015.lua
Bizhawk Emulator - Copy/evolveScriptBackup/neatevolve_jun_19cp_2015.lua
Bizhawk Emulator - Copy/evolveScriptBackup/neatevolve_jun_27_2015.lua
Bizhawk Emulator - Copy/evolveScriptBackup/neatevolve_jun_29_2015.lua
Bizhawk Emulator - Copy/evolveScriptBackup/neatevolve_jun_30_2015.lua
*.db
Bizhawk Emulator - Copy/gamedb/
*.bak
Bizhawk Emulator - Copy/Roms/Super Mario World (USA).sfc
*.smc
Bizhawk Emulator - Copy/Lua/ButtonCount.lua
Bizhawk Emulator - Copy/Lua/N64/M64_reader.lua
Bizhawk Emulator - Copy/Lua/NES/Castlevania.lua
Bizhawk Emulator - Copy/Lua/NES/Contra force.lua
Bizhawk Emulator - Copy/Lua/NES/Holy Diver.lua
Bizhawk Emulator - Copy/Lua/NES/Megaman 4.lua
Bizhawk Emulator - Copy/Lua/NES/NinjaGaiden_Hitbox.lua
Bizhawk Emulator - Copy/Lua/NES/PunchOutStats.lua
Bizhawk Emulator - Copy/Lua/NES/SMB2U.lua
Bizhawk Emulator - Copy/Lua/SNES/Megaman X.lua
Bizhawk Emulator - Copy/Lua/SNES/Megaman X2.lua
Bizhawk Emulator - Copy/Lua/SNES/Megaman X3.lua
Bizhawk Emulator - Copy/Lua/test.lua
Bizhawk Emulator - Copy/evolveScriptBackup/simpleEvolve.lua
Bizhawk Emulator - Copy/Lua/SNES/Super Castlevania 4.lua
Bizhawk Emulator - Copy/Lua/SNES/Super Ghouls N Ghost.lua
Bizhawk Emulator - Copy/Lua/SNES/Super Mario World.lua
Bizhawk Emulator - Copy/Lua/SNES/Super Metroid.lua
Bizhawk Emulator - Copy/Lua/SNES/Y's III.lua
Bizhawk Emulator - Copy/Lua/SNES/snes9x.lua
Bizhawk Emulator - Copy/Lua/SNES/Rockman and Forte.lua
